*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: blanchedalmond;
}
h1{
    text-align: center;
    margin-top: 34px;
}
.boxes{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 23px;
    cursor: pointer;

}
.box1{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
}
.box2{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;
}
.box3{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blue;
    color: white;
}
.box4{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
    color: white;
}